p {
    text-align: center;
}

form {
    text-align: center;
    margin-bottom: 3em;
}

textarea {
    width: 500px;
    height: 100px;
    font-size: 20px;
}

button {
    display: block;
    margin: auto;
    width: 200px;
    height: 40px;
    margin-top: -25px;
}

#pullDown {
text-align: center;
margin-bottom: 1em;
}

select {
    width: 200px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

#js-result {
    margin: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 6em;
    border: 1px solid gray;
    width: 600px;
    height: 130px;
}

#js-customerPts {
    font-weight: bold;
    margin-top: 10px;
}

#js-input {
    width: 200px;
    height: 30px;
}

#js-result2 {
    margin: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid gray;
    width: 600px;
    height: 45px;
}

#js-textCount {
    font-weight: bold;
    margin-top: 10px; 
    padding-bottom: -20px;
}
